h1
{
    border: 2px;
    border-color: rgb(36, 12, 4);
    border-style: solid;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px; 

    text-align: center;
    color: rgb(58, 88, 114);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: rgb(138, 40, 153);
    background-image: url(image.jpg);
}